@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --yellowOPZ: #f8b800;
    --grey: #898a78;
    --Blue: #217998;
}

html {
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}
