/* imports en general reset */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* hoofding */
h1 {
    font-family: 'Abel', sans-serif;
    color: var(--yellowOPZ);
    font-size: 3rem;
}

div, p {
    background-color: white;
}

body {
    margin: 0px 15px;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}

.flexbox p {
    padding-top: 10px;
    color: var(--Blue);
}

/* containter met afbeelding */
.containter {
    position: relative;
}

img {
    width: 100vw;
    height: auto;
}

/* blauwe box met gebouwnummering */
#nummerbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Blue);
    border-radius: 5px;
    width: 20vw;
    height: 10%;

    position: absolute;
    right: 10vw;
    bottom: -1.5vh;
}

#nummering {
    color: white;
    font-size: 22px;
    font-family: 'Abel', sans-serif;
}

/* hoofdtext */
#textbox {
    font-family: 'Open Sans', sans-serif;
    padding: 40px 20px;
}

h2 {
    color: rgb(33,121,152);
    margin: 5px 0px;
    font-size: 25px;
}

p {
    margin-bottom: 10px;
}

span {
    font-size: 12px;
}

.link-page {
    text-decoration: none;
    color: #217998;
}

#end {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
}

#end p {
    width: ;
}

@media screen and (min-width: 800px) {
    body {
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
    }

    .container, img {
        width: 1000px;
    }

    #nummerbox {
        width: 300px;
        right: -50px;
    }

    h1 {
        padding-left: 0;
    }
    
    span {
        font-size: 25px;
    }
}
